API_ID=13180093
SUDO_USER=5304326859,1471034132,1971952757,5658910455
API_HASH=74c7a8240aa33b65a95ccb322d7e488e
SUPPORT_GROUP=https://t.me/PCOgrup 
SUPPORT_CHANNEL=https://t.me/jrtnhati
START_IMG_URL=https://telegra.ph/file/7824952d381c4943c0123.jpg
PING_IMG_URL=https://telegra.ph/file/7824952d381c4943c0123.jpg 
BOT_TOKEN=5386612011:AAHCVphDvVV01KO6ShcipTBkOTjepcZq0ac
DURATION_LIMIT=999
MONGO_DB_URI=mongodb+srv://FileBot:FileBot@filebot.jx2r1lb.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001790099997
MUSIC_BOT_NAME=Pusat music
OWNER_ID=2045556427
AUTO_LEAVING_ASSISTANT=True
SPOTIFY_CLIENT_ID=ff36a443b59a45ff95b708db5b14b2b5 
SPOTIFY_CLINET_SECRET=51e0cc2a3a7f4607b6957cc21e52a324
STRING_SESSION=BQCNJA_tQUJtXS9J5212ZL3etgQMf-GA-iO-zEFIqsvLKnBvc_O_dh-7pKElKYXuCblc1xc8OXsjEaV81KLwIcZZfJ59uolSPtXloTWad5ZDL8EpD1xln-bVqRBuwZBfpv_V0iXaonSRWHs4sPdOKgq7g1IvSllGmGQz0b6xwrsE9tXJ1sFRXnkRSwZvOzDPC_WahkNc5_tTuC-PJjmligmE410mawHCi3Jz2Lbqxm-GwdRw0URUviBshwQ-STWnF38qLwhp3JuHcUOJN7Dpk8tT2XIQg-ZiNCb_utEcj6Xc4ieEM24PsRbql4IzLrdS7DoqdMm5K6G3BmgyzZxIyDljAAAAAVmfMJ0A
STRING_SESSION2=BQCkgkJhAm1QyKaNUuWKVrQ2h2yJU2POGIN4fMRQ3Qp9wz3rVvAymPvHHN4y8QpAPwiqASDK_skcjRzfYAUMeQlIkilTlrrX77qN5YleLhzsnzZaoKdvzBeUCD3dJ_TDbulDdsV6QXzBPslPwLf7whA9wNUIsM1EwtzWhopvuuai3um5ZR5NQeMlMtDy6gLZ3nZ9zzJkXniDJvOd9R76OpdUWMxuDUbOgDnAmCAhJnflYZNFh7NZSm5f4fg6CiRHbCCExAXONenLT2qmDGb3NrqzJYfAlG3P898If1_3t1JhVobvoVHEgeKxhYjfY1srHCqdqjq5JhncBAH7Myf5fnAncv3jJgA
STRING_SESSION3=BQC7Z6y2wx2nqPrBAqrT-zYRQo6N6AmIFsvLiIpw7cpjbA6UMgvhNsBhgBst1hNmLMkiLpiy3CZQI0sAujyWb_O9MzefbGqOK1UHXOyG9hSK_uH2W6LcbB7Mvz0AkSUqzLcEukhHyiwFqpnzG6kXTgYLTVj2VVt4yq6TQ4OxdFUWcarz7zfbRaw1O2IasaTzBIf7pRSUvtqE_kYOq72r_hKItGCHANpgf5o1N60_8Oa8r10xPbYUgHIxvU4qLIH1QI9P4wWdm0YpQAVrmZm4fRUht91GXr7yiFK42t8Ky3mtUqsaT1AQNIDbl1LQ9C2eM0yLgFXlSo0nhVOENrpvr1Ldcpg6qQA
STRING_SESSION4=BQAqR0b5ZbLbmWqszNAe2X4mgarmhbq7RWdmpy6QQrgIXEdFBTxxUi0jXrMgvZjPHCX8CTGpb9lvvWYEoc2DSFMunnLNvx3aV0bCWEWhvVHTxT1rBhzSHFtr5LE5XfEIAGxUOAc9Ik5UR9VP2aYjnokUe2_TcCD15jFqktoRNzJJhXgzMVKbBikgdAs1FlbZdDdCF1DdOOtgqFpFDDA8Ud4KiAMecRtVg1W_uLmALumN6zR6rryuTaJUPEk5K_BroOov4MsLWkGPsmggUcCLDZCQnoLUhSIcSi4BdyeqI8g07_2Y_fgG5dVicaY7_Lgj7aT7vPCkKK4x9_d5ataIKoyfZjKXSgA
STRING_SESSION5=BQAMd0DJk_ax_HjOhygu-nG3phsg1k-syWM0vfMW0Odfiq4g43OoFuq6onjJq1PBjlhKNHJxKYnSlv_1BRfKyNO8GMFiWolVBt675EFKIsV_NcnnPJfrUlo5uDu9HpWyeFH1ahS-4ZggSUN_mN4SQrdPMFR_KCd39lS9UAoJ4fl6zA-mLpsC_0QS0r5IgyoJAdKidJ4unRELfAt6xP_DvOdAMToy2T1kSIJT_xTnsM8SLPiBa6iHhMJ7EDsMcxK0xV5HhH87csdYWvwCWuenR-SrtC9KhEkH8vnyvxgv1Wt-iZd4PjdWNVs1T13RcjQJcHZ5iqqlVWVfmx2EqQAptF44c-nhkQA
TG_VIDEO_FILESIZE_LIMIT=5368709120 
UPSTREAM_BRANCH=master
UPSTREAM_REPO=https://github.com/mamenkuy/SUPERMAN-MUSIC
